<h2>Test Rich Text Editor 🧪</h2>
<button (click)="injectSignature()">INSERT</button>

<lib-rich-text-editor
  [rtePreset]="'FULL'"
  [imageToolbarItems]="['menu_controljustify','imagestyle', 'delete']"
  [excludedToolbarItems]="['insertvideo', 'insertgallery']"  [fileUploadHandler]="onRteFileUpload"
  [(ngModel)]="content"
    [fileUploadHandler]="onRteFileUpload"
  [enableImageUpload]="true"

  required
  [errorMessages]="{ required: 'Please enter a description.' }"
></lib-rich-text-editor>

<hr />
<h4>Output:</h4>
<div [innerHTML]="content"></div>
